################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/IllusionElf
/.vs/IllusionElf/v15/ipch/AutoPCH/d6b35d4703ec7550/ILLUSIONELF.ipch
/.vs/IllusionElf/v15/ipch/AutoPCH/d6b35d4703ec7550
/.vs/IllusionElf/v15/ipch/AutoPCH/d0257a2786a1c01b/PQEMODEL.ipch
/.vs/IllusionElf/v15/ipch/AutoPCH/d0257a2786a1c01b
/.vs/IllusionElf/v15/ipch/AutoPCH/bec546e4fc022acd/TEST.ipch
/.vs/IllusionElf/v15/ipch/AutoPCH/bec546e4fc022acd
/.vs/IllusionElf/v15/ipch/AutoPCH/b1a319e447e05be0/QDEMODEL.ipch
/.vs/IllusionElf/v15/ipch/AutoPCH/b1a319e447e05be0
/.vs/IllusionElf/v15/ipch/AutoPCH/a1c0ec89279b6c47/DIMMENSIONWORLDCONSOLE.ipch
/.vs/IllusionElf/v15/ipch/AutoPCH/a1c0ec89279b6c47
/.vs/IllusionElf/v15/ipch/AutoPCH/4844c5fc841c0fc2/PHYSICAL.ipch
/.vs/IllusionElf/v15/ipch/AutoPCH/4844c5fc841c0fc2
/.vs/IllusionElf/v15/ipch/AutoPCH/443ffe262e885839/PURPLEDREAMELF.ipch
/.vs/IllusionElf/v15/ipch/AutoPCH/443ffe262e885839
/.vs/IllusionElf/v15/ipch/AutoPCH/3b1a49141e2bf393/ILLUSIONELF.ipch
/.vs/IllusionElf/v15/ipch/AutoPCH/3b1a49141e2bf393
/.vs/IllusionElf/v15/ipch/AutoPCH/1fdcef5f67b2819f/PHYSICS2.ipch
/.vs/IllusionElf/v15/ipch/AutoPCH/1fdcef5f67b2819f
/.vs/IllusionElf/v15/ipch/AutoPCH/1d4a4a83d95de2e9/PHYSICAL.ipch
/.vs/IllusionElf/v15/ipch/AutoPCH/1d4a4a83d95de2e9
/.vs/IllusionElf/v15/ipch/AutoPCH/1ca7a4016efd8a79/GLAD.ipch
/.vs/IllusionElf/v15/ipch/AutoPCH/1ca7a4016efd8a79
/.vs/IllusionElf/v15/ipch/AutoPCH
/.vs/IllusionElf/v15/Browse.VC.db
/.vs/IllusionElf/v15/.suo
/.vs/IllusionElf/v15
/.vs/IllusionElf/v14/.suo
/.vs/IllusionElf/v14
/.vs/IllusionElf
/IllusionElf/data/.mayaSwatches/头发.jpg_hcm.swatch
/IllusionElf/data/.mayaSwatches/yifu2.jpg_hcm.swatch
/IllusionElf/data/.mayaSwatches/yanjin.png_hcm.swatch
/IllusionElf/data/.mayaSwatches/toufa.jpg_hcm.swatch
/IllusionElf/data/.mayaSwatches/sz.jpg_hcm.swatch
/IllusionElf/data/.mayaSwatches/sw.jpg_hcm.swatch
/IllusionElf/data/.mayaSwatches/st.jpg_hcm.swatch
/IllusionElf/data/.mayaSwatches/skin_legs.png_hcm.swatch
/IllusionElf/data/.mayaSwatches/lian.png_hcm.swatch
/IllusionElf/data/.mayaSwatches/face_MikuAp_VM.PNG_hcm.swatch
/IllusionElf/data/.mayaSwatches/bq.png_hcm.swatch
/IllusionElf/data/.mayaSwatches/2.png_hcm.swatch
/IllusionElf/data/.mayaSwatches/1.png_hcm.swatch
/IllusionElf/data/.mayaSwatches
/IllusionElf/data
/IllusionElf/.mayaSwatches/t011.bmp_hcm.swatch
/IllusionElf/.mayaSwatches/t005.bmp_hcm.swatch
/IllusionElf/.mayaSwatches/Ku_hair.bmp_hcm.swatch
/IllusionElf/.mayaSwatches/hybri.png_hcm.swatch
/IllusionElf/.mayaSwatches/face_MikuAp2_wps.png_hcm.swatch
/IllusionElf/.mayaSwatches/face_MikuAp2.tga_hcm.swatch
/IllusionElf/.mayaSwatches/body01_MikuAp_wps.png_hcm.swatch
/IllusionElf/.mayaSwatches/body01_MikuAp.tga_hcm.swatch
/IllusionElf/.mayaSwatches/a.mb.swatches
/IllusionElf/.mayaSwatches
/IllusionElf.VC.VC.opendb
/IllusionElf.VC.db
/IllusionElf/Debug/vc140.pdb
/IllusionElf/Debug/vc140.idb
/IllusionElf/Debug/TimerTask.obj
/IllusionElf/Debug/Shadow.obj
/IllusionElf/Debug/shader.obj
/IllusionElf/Debug/QdeRender.obj
/IllusionElf/Debug/QdeModel.obj
/IllusionElf/Debug/PurpleDreamElf.obj
/IllusionElf/Debug/PQEModel.obj
/IllusionElf/Debug/Physical.obj
/IllusionElf/Debug/imgui_widgets.obj
/IllusionElf/Debug/imgui_impl_opengl2.obj
/IllusionElf/Debug/imgui_impl_glfw.obj
/IllusionElf/Debug/imgui_draw.obj
/IllusionElf/Debug/imgui_demo.obj
/IllusionElf/Debug/imgui.obj
/IllusionElf/Debug/IllusionElf.tlog/link.write.1.tlog
/IllusionElf/Debug/IllusionElf.tlog/link.read.1.tlog
/IllusionElf/Debug/IllusionElf.tlog/link.command.1.tlog
/IllusionElf/Debug/IllusionElf.tlog/IllusionElf.lastbuildstate
/IllusionElf/Debug/IllusionElf.tlog/CL.write.1.tlog
/IllusionElf/Debug/IllusionElf.tlog/CL.read.1.tlog
/IllusionElf/Debug/IllusionElf.tlog/CL.command.1.tlog
/IllusionElf/Debug/IllusionElf.tlog
/IllusionElf/Debug/IllusionElf.obj
/IllusionElf/Debug/IllusionElf.log
/IllusionElf/Debug/IllusionElf.Build.CppClean.log
/IllusionElf/Debug/glad.obj
/IllusionElf/Debug/fantastic.obj
/IllusionElf/Debug/DimmensionWorldConsole.obj
/IllusionElf/Debug/Camera.obj
/IllusionElf/Debug/Biological.obj
/IllusionElf/Debug
/Debug/IllusionElf.pdb
/Debug/IllusionElf.ilk
/Debug/IllusionElf.exe
/Debug
/IllusionElf/x64/Debug
/IllusionElf/x64/Debug/vc140.pdb
/IllusionElf/x64/Debug/vc140.idb
/IllusionElf/x64/Debug/TimerTask.obj
/IllusionElf/x64/Debug/QdeRender.obj
/IllusionElf/x64/Debug/PlugIn.obj
/IllusionElf/x64/Debug/imgui_widgets.obj
/IllusionElf/x64/Debug/imgui_draw.obj
/IllusionElf/x64/Debug/imgui_demo.obj
/IllusionElf/x64/Debug/imgui.obj
/IllusionElf/x64/Debug/IllusionElf.tlog/unsuccessfulbuild
/IllusionElf/x64/Debug/IllusionElf.tlog/IllusionElf.lastbuildstate
/IllusionElf/x64/Debug/IllusionElf.tlog/CL.write.1.tlog
/IllusionElf/x64/Debug/IllusionElf.tlog/CL.read.1.tlog
/IllusionElf/x64/Debug/IllusionElf.tlog/CL.command.1.tlog
/IllusionElf/x64/Debug/IllusionElf.tlog
/IllusionElf/x64/Debug/IllusionElf.log
/IllusionElf/x64/Debug
/IllusionElf/aa.txt
/IllusionElf/Release
/Release
/.vs
